@media only screen and (min-width: 1200px) {
    .page,
    .x-scroller,
    .footer-content {
        display: block;
        width: 140vh;
        margin: 0 auto;
    }
    .page-model-2 {
        display: block;
        width: 160vh;
        margin: 0 auto;
    }
    nav {
        padding: 0 28vh;
    }
    h1 {
        margin: 0 20px;
    }
    .bio {
        min-height: 90vh;
    }
    .bio figure,
    video {
        float: left;
        max-width: min-content;
    }
    .content {
        display: flex;
        flex-flow: nowrap column;
        justify-content: end;
        padding: 0 -2%;
    }
    video {
        width: 50%;
    }
    .libri {
        display: block;
        justify-items: center;
        margin-top: -72px;
        padding-left: 10%;
        img {
            float: left
        }
        .merch-buttons {
            justify-content: space-between;
            padding-right: 30%;
            padding-left: 1%;
            margin: 55px 0;
        }
    }
}

