@media only screen and (min-width: 769px) and (max-width: 1199px) {
    .page,
    .page-model-2,
    .footer-content {
        display: block;
        width: 110vh;
        margin: 0 auto;
    }
    .two-buttons {
        display: flex;
        flex-wrap: wrap row;
        justify-items: space-between;
        }
    }

