@media only screen and (min-width: 1200px) {
    .page,
    .footer-content {
        display: block;
        width: 120vh;
        margin: 0 auto;
    }
    .page-model-2 {
        display: block;
        width: 150vh;
        margin: 0 auto;
    }
    h1 {
        margin: 0 auto;
    }
    .bio {
        min-height: 90%;
    }
    .bio figure,
    video {
        float: left;
        max-width: min-content;
    }
    .content {
        display: flex;
        flex-flow: nowrap column;
        justify-content: end;
        padding: 0 -2%;
    }
    video {
        width: 50%;
    }
    .libri {
        display: block;
        justify-items: center;
        padding-top: 150px;
        img {
            float: left;
            margin-left: 300px;
        }
    }
}

