@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "partial_tablet_style.css";
@import "partial_laptop_style.css";
$nav-color: #778c91;
$coloured-light-grey-1: #e9d6ec;
$form-color: darken($coloured-light-grey-1, 10%);
$footer-color: #2c1b2e;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: $coloured-light-grey-1;
    font-family: "PT Sans";
    letter-spacing: 0.3px;
}
nav {
    background-color: $nav-color;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    font-size: calc(13px + 0.3vw);
    top: 0;
    width: 100%;
    height: 50px;
    img {
        margin-left: 1.3em;
    }
    ul {
        display: flex;
        list-style-type: none;
            li {
                margin-right: 1.5em;
            }
    }
}
nav a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        color: lightcoral;
        text-decoration: underline;
    }
    &:visited {
        color: indigo;
    }
    &:hover:visited {
        color: darkgrey;
        text-decoration: underline;
    }
}
section a {
    color: black;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
        color: lightcoral;
    }
    &:visited {
        color: indigo;
    }
    &:hover:visited {
        color: darkgrey;
    }
}
h1 {
    font-style: italic;
    text-align: center;
    font-size: calc(22px + 0.5vw);
    line-height: 1.5em;
    margin-top: 70px;
    margin-bottom: 30px;
    padding: 0 20px;
}
.self-portrait img {
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}
section p {
    font-size: calc(15px + 0.35vw);
    margin: 10px 20px 30px 20px;
    line-height: 1.7em;
}
.synopsis {
    font-style: italic;
    color: darken($nav-color, 40%);
    border-bottom: 1px solid darken($nav-color, 5%);
    border-right: 1px solid darken($nav-color, 5%);
    padding-right: 3%;
}
.form-header {
    background-color: $form-color;
    text-align: center;
    padding: 30px 20px 100px 20px;
    margin: 100px 20px 0 20px;
    border: 1px solid $nav-color;
    border-bottom: none;
    h2 {
        margin: 30px 0;
        font-size: calc(19px + 0.5vw);
    }
    p {
        line-height: 1.5em;
        font-size: calc(15px + 0.35vw);
    }
}
.my-form {
    background-color: $form-color;
    margin: 0 20px;
    margin-bottom: 100px;
    border: 1px solid $nav-color;
    border-top: none;
}
.form-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: center;
    font-size: calc(14px + 0.3vw);
    label {
        width: 200px;
        margin-bottom: 10px;
        margin-left: 15px;
    }
}
.form-row input,
.form-row select,
.form-row textarea {
    font-family: "Nunito Sans", sans-serif;
    margin-bottom: 60px;
    border: 1px solid $nav-color;
    border-radius: 5px;
    padding: 7px;
}
.form-row input[type=email]:invalid {
    border: 2px solid crimson;
    color: crimson;
    box-shadow: none;
}
.form-row select {
    -webkit-appearance: none;
    width: 190px;
}
.form-row textarea {
    padding: 10px;
    min-height: 200px;
    width: 190px;
}
input[type=submit] {
    cursor: pointer;
    color: whitesmoke;
    display: block;
    font-weight: bolder;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 10px 50px;
    background-color: $nav-color;
    border: 1px solid $footer-color;
    border-radius: 20px;
    &:hover {
        opacity: 70%;
    }
}
.popover {
    text-align: center;
    background-color: lighten($footer-color, 70%);
    padding: 10px;
    line-height: 2em;
    border: 1px solid $footer-color;
}
footer {
    background-color: $footer-color;
    color: whitesmoke;
    position: relative;
    align-content: center;
    bottom: 0;
    padding-top: 1px;
    margin-top: 70px;
    p {
        font-size: calc(11.5px + 0.07vw);
        margin: 8px 15px 7px 15px;
    }
    .social {
        display: flex;
        flex-flow: wrap row;
        justify-content: space-between;
        align-items: center;
    }
    .social p {
        align-self: flex-start;
        margin-right: auto;
    }
    .social a img {
        margin-right: 25px;
    }
}
.y-scroller {
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    justify-content: center;
}
.bio {
    display: block;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    h2 {
        text-align: center;
        font-size: calc(20px + 0.3vw);
        padding: 70px 20px 30px 20px;
    }
}
.bio .content:first-of-type {
    padding-bottom: max-content;
}
.bio figure {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    figcaption {
        font-style: italic;
        text-align: left;
        font-size: calc(12.5px + 0.07vw);
        line-height: 1.5em;
        padding: 10px;
    }
}
.content ul {
    font-size: calc(15px + 0.35vw);
    padding: 15px 10px 0 35px;
    line-height: 1.7em;
    list-style-type: circle;
    ul:last-of-type {
        list-style-type: disclosure-closed; 
        margin-left: -15px;
        }
}
.two-buttons {
    display: flex;
    flex-wrap: wrap;
}
.content button,
.two-buttons button {
    cursor: pointer;
    display: block;
    background-color: darken($coloured-light-grey-1, 30%);
    margin: 30px auto;
    padding: 5px 15px;
    border-radius: 15px;
    border: 1px solid $nav-color;
    &:hover {
        background-color: darken($coloured-light-grey-1, 50%);
    }
    a {
        text-decoration: none;
        color: whitesmoke;
        &:hover {
            text-decoration: none;
            color: whitesmoke;
        }
    }
}
.bio:nth-of-type(3),
.bio:nth-of-type(6) {
    ul {
    list-style-type: disclosure-closed; 
    }
}
video {
    max-width: 100%;
    max-height: 13%;
    margin-bottom: 30px;
}
.x-scroller {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    &::-webkit-scrollbar {
        background-color: darken($coloured-light-grey-1, 15%);
        height: 8px;
        cursor: pointer;
    }
    &::-webkit-scrollbar-thumb {
        background-color: darken($coloured-light-grey-1, 30%);
    }
    &::-webkit-scrollbar-button {
        background-color: lighten($nav-color, 15%);
    }
}
.libri {
    scroll-snap-align: start;
    min-height: 100%;
    min-width: 100%;
    padding-top: 70px;
    img {
        display: block;
        margin: 0 auto;
        margin-bottom: -25px;
    }
}
.lyrics {
    display: block;
    width: max-content;
    margin: 0 auto;
    font-family: "Caveat";
    font-weight: bold;
    p {
        margin-bottom: -11px;
        font-size: 17.8px;
        letter-spacing: 0.07px;
    }
    p:first-of-type {
        margin-top: 23px;
    }
    p:last-of-type {
        font-family: "Nunito Sans", sans-serif;
        font-weight: normal;
        font-size: 12px;
        margin: 20px 0 35px 20px;
    }
}   
.merch-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 33px;
    button {
        cursor: pointer;
        padding: 5px 15px;
        border-radius: 15px;
        border: 1px solid $nav-color;
        &:first-of-type {
            background-color: darken($coloured-light-grey-1, 30%);
            &:hover {
                background-color: darken($coloured-light-grey-1, 40%);
            }
        }
        &:last-of-type {
            background-color: lighten($footer-color, 10%);
            &:hover {
                opacity: 40%;
            }
        }
        a {
            text-decoration: none;
            color:whitesmoke;
                &:hover {
                    color: whitesmoke;
                }  
        }
    }
}