@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "partial_tablet_style.css";
@import "partial_laptop_style.css";
$nav-color: #7e87a5;
$coloured-light-grey-1: #f4e3f8;
$footer-color: #041801;
$footer-color-2: lighten($footer-color, 20%);
$form-color: #eec34b;
$shiny-button: #a827c2;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: $coloured-light-grey-1; 
    font-family: "Lato"; 
    letter-spacing: 0.7px; 
}
.page,
.footer-content {
        display: block;
        padding: 0 5%;
        margin: 0 auto;
}
img {
    width: initial;
    height: initial;
}
nav {
    background-color: $nav-color;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    font-size: 17px;
    top: 0;
    width: 100%;
    height: 50px;
    img {
        margin-left: 1.5em;
    }
    ul {
        display: flex;
        list-style-type: none;
            li {
                margin-right: 1.5em;
            }
    }
}
nav a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        color: orangered;
    }
    &:visited {
        color: indigo;
    }
    &:hover:visited {
        color: lightgreen;
    }
}
section a {
    color: black;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
        color: orangered;
    }
    &:visited {
        color: indigo;
    }
    &:hover:visited {
        color: olive;
    }
}
h1 {
    font-family: "Caveat";
    text-align: center;
    font-size: 37px;
    line-height: 1.2em;
    margin-top: 70px;
    padding: 0 20px;
}
.self-portrait {
    display: flex;
    flex-flow: nowrap row;
    margin: 60px 0;
    img {
        float: left;
        margin-right: 25px;
    }
    figcaption {
        font-family: "Caveat";
        font-weight: bold;
        align-self: center;
        font-size: 20px;
        line-height: 1.3em;
    }
}
section p {
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 1.6em;
}
.synopsis {
    font-style: italic;
    color: darken($nav-color, 50%);
    border-bottom: 1px solid darken($nav-color, 20%);
    border-right: 1px solid darken($nav-color, 20%);
    padding-right: 3%;
}
section .repository {
    cursor: pointer;
    display: block;
    background-color: $shiny-button;
    font-size: 16px;
    padding: 7px 20px;
    margin: 80px auto;
    border: 1px solid $nav-color;
    border-radius: 20px;
    &:hover {
        background-color: darken($shiny-button, 10%);
    }
    a {
        text-decoration: none;
        color: whitesmoke;
        &:hover {
            color: whitesmoke;
        }
    }
}
.form-header {
    text-align: center;
    background-color: $form-color;
    padding: 80px 20px;
    margin: 0 auto;
    margin-top: 100px;
    width: 80%;
    border: 1px solid $nav-color;
    border-bottom: none;
    h2 {
        font-weight: bold;
        font-size: 24px;
        padding-bottom: 20px;
    }
    p {
        line-height: 1.6em;
        font-size: 20px;
    }
}
.my-form {
    background-color: $form-color;
    margin: 0 auto;
    width: 80%;
    border: 1px solid $nav-color;
    border-top: none;
}
.form-row {
    display: flex;
    flex-flow: wrap row-reverse;
    justify-content: center;
    padding: 0 30px;
    line-height: 1.5em;
    font-size: 18px;
    label {
        width: 200px;
        margin-left: 15px;
        margin-bottom: 15px;
    }
}
.form-row input,
.form-row select,
.form-row textarea {
    margin-bottom: 60px;
    border: 1px solid $nav-color;
    border-radius: 5px;
    padding: 7px;
    width: 190px;
    height: 40px;
}
.form-row input[type=email]:invalid {
    border: 2px solid crimson;
    color: crimson;
    box-shadow: none;
}
.form-row select {
    -webkit-appearance: none;
}
.form-row textarea {
    padding: 10px;
    min-height: 200px;
}
input[type=submit] {
    cursor: pointer;
    color: whitesmoke;
    display: block;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 15px 40px;
    background-color: $nav-color;
    border: 1px solid darken($nav-color, 50%);
    border-radius: 30px;
    &:hover {
        background-color: darken($nav-color, 10%);
    }
}
.popover {
    text-align: center;
    background-color: lighten($shiny-button, 45%);
    border: 1px solid $nav-color;
    padding: 20px;
    line-height: 1.8em;
}
footer {
    background: linear-gradient($footer-color-2, $footer-color);
    color: whitesmoke;
    position: relative;
    bottom: 0;
    padding-top: 3px;
    margin-top: 100px;
    p {
        font-size: 14px;
        margin: 10px 15px;
    }
    .social {
        display: flex;
        flex-flow: wrap row;
        justify-content: space-between;
        align-items: center;
    }
    .social p {
        align-self: flex-start;
        margin-right: auto;
    }
    .social a img {
        margin-right: 25px;
    }
}
.y-scroller {
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    scroll-snap-stop: always;
    justify-content: center;
}
.bio {
    display: block;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    h2 {
        text-align: center;
        font-size: 23px;
        padding: 70px 15px 30px 15px;
    }
}
.bio figure {
    display: flex;
    flex-flow: wrap column;
    justify-items: center;
    align-items: center;
    margin-bottom: 30px;
    figcaption {
        font-style: italic;
        font-size: 14px;
        line-height: 1.5em;
        padding: 0 5%;
        margin-top: 10px;
    }
}
.no-scroll {
    scroll-snap-align: none;
}
.content {
    padding: 0 5%;
}
.content ul {
    padding: 0 5%;
    font-size: 20px;
    line-height: 1.6em;
    margin-bottom: 30px;
    list-style-type: circle;
    ul:last-of-type {
        list-style-type: disclosure-closed; 
        padding: 0 5%;
    }
}
.two-buttons {
    display: flex;
    flex-wrap: wrap;
}
.content button,
.two-buttons button {
    cursor: pointer;
    display: block;
    background-color: $shiny-button;
    font-size: 16px;
    margin: 30px auto;
    padding: 7px 20px;
    border-radius: 20px;
    border: 1px solid $nav-color;
    &:hover {
        background-color: darken($shiny-button, 10%);
    }
    a {
        text-decoration: none;
        color: whitesmoke;
    }
}
.content button {
    margin: 60px auto;
}
.bio:nth-of-type(3),
.bio:nth-of-type(6) {
    ul {
    list-style-type: disclosure-closed; 
    }
}
video {
    display: block;
    margin: 0 auto;
    max-width: 70%;
    max-height: 15%;
    margin-bottom: 30px;
}
.x-scroller {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    &::-webkit-scrollbar {
        position: absolute;
        bottom: 3;
        background-color: darken($coloured-light-grey-1, 15%);
        height: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: darken($coloured-light-grey-1, 30%);
    }
    &::-webkit-scrollbar-button {
        background-color: lighten($nav-color, 15%);
        width: 20px;
    }
}
.libri {
    scroll-snap-align: start;
    min-height: 100%;
    min-width: 100%;
    padding-top: 200px;
    img {
        display: block;
        margin: 20px auto;
    }
}
.lyrics {
    display: block;
    width: max-content;
    margin: 0 auto;
    font-family: "Caveat";
    font-weight: bold;
    p {
        font-size: 18px;
        letter-spacing: 0.5px;
        margin-bottom: -1px;
    }
    p:first-of-type {
        margin-top: 30px;
    }
    p:last-of-type {
        font-family: "Lato";
        font-weight: normal;
        font-size: 13px;
        margin: 20px 0 20px 2px;
    }
}   
.merch-buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0;
    button {
        cursor: pointer;
        padding: 7px 20px;
        border-radius: 15px;
        border: 1px solid $nav-color;
        &:first-of-type {
            background-color: $shiny-button;
            &:hover {
                background-color: darken($shiny-button, 10%);
            }
        }
        &:last-of-type {
            background-color: lighten($footer-color, 10%);
            &:hover {
                opacity: 80%;
            }
        }
        a {
            text-decoration: none;
            color:whitesmoke;
                &:hover {
                    color: whitesmoke;
                }  
        }
    }
}