@media only screen and (min-width: 960px) {
    nav a picture {
        margin-left: calc(20vw + 1em);
    }
    nav ul {
        margin-right: calc(20vw + 1.5em);
    }
    .page,
    .footer-content {
        display: block;
        width: 48%;
        margin: 0 auto;
    }
    h1 {
        margin: 0 auto;
        width: 90%;
    }
        }
