@media only screen and (min-width: 400px) and (max-width: 699px) {
    nav a picture {
       margin-left: 2vw;
    }
    nav ul {
        margin-right: calc(1vw + 1em);
    }
    .page,
    .page-model-2
    .footer-content {
        display: block;
        width: 88%;
        margin: 0 auto;
    }
    .bio figure img {
        margin: 0 100%;
    }
    video {
        display: block;
        margin: 0 auto;
        width: 80%;
    }
}
@media only screen and (min-width: 700px) and (max-width: 959px) {
    nav a picture {
        margin-left: calc(8vw - 0.5em);
    }
    nav ul {
        margin-right: calc(6vw + 1em);
    }
    .page,
    .page-model-2,
    .footer-content {
        display: block;
        width: 95vh;
        margin: 0 auto;
    }
    .bio figure img {
        margin: 0 100%;
    }
}

