@media only screen and (min-width: 960px) {
    nav a picture {
        margin-left: calc(20vw + 1em);
    }
    nav ul {
        margin-right: calc(10vw + 1.5em);
    }
    .page,
    .footer-content {
        display: block;
        width: 48%;
        margin: 0 auto;
    }
    .page-model-2 {
        display: block;
        width: 90%;
        margin: 0 auto;
    }
    h1 {
        margin: 0 auto;
        width: 90%;
    }
    .bio {
        display: flex;

        min-height: 90%;
    }
    .bio figure {

        img {
           
        }
        figcaption {

        }
    }
    .content {
        order: -1;
        margin-left: 50px;
    }
}
