@media only screen and (min-width: 401px) and (max-width: 960px) {
    nav img {
        margin-left: 30%;
    }
    nav ul {
        margin-right: 30%;
    }
    .page,
    .footer-content {
        width: 70%;
        margin: 0 auto;
    }
    .form-row {
        flex-flow: wrap row;
    }
}