@media only screen and (min-width: 960px) {
    nav a picture {
        margin-left: calc(15vw + 0.7em);
    }
    nav ul {
        margin-right: calc(13vw + 1.5em);
    }
    .page,
    .footer-content {
        display: block;
        width: 100vh;
        margin: 0 auto;
    }
    .page-model-2 {
        display: block;
        width: 150vh;
        margin: 0 auto;
    }
    h1 {
        margin: 0 auto;
    }
    .form-row {
        flex-direction: row;
        align-items: flex-start;
    }
    .bio {
        min-height: 90%;
    }
    .bio figure,
    video {
        float: left;
        max-width: min-content;
        margin-right: 30px;
        margin-left: 20px;
    }
    .content {
        display: flex;
        flex-flow: nowrap column;
        justify-content: end;
        margin-top: -20px;
    }
    video {
        width: 50%;
    }
}

